
$purple: #5a30f0;
$light-purple: #897df2;
$turquoise: #09cdc8;
$black: #404040;
$text-secondary: #636c81;
$white: #fff;
$turquoise-text: #04bcb7;
$light-grey: #f3f6fb;
$middle-grey: #e2e8f0;
$grey-middle: #818e9f;
$pink-background: #f8f4fe;
$purple-10: rgba(90, 48, 240, 0.1);
$purple-dark: #441bd3;



